*{
    box-sizing: border-box;
    margin: 0;
    padding: o;
}

body{
    font-family: "Azeret Mono", monospace;
}
.background-image-container{
    width: 1440px;
    height: 652px;
    background-image: url(../assets/Hero-bg.png);
    background-position: cover;
    text-align: center;
    margin-bottom: 222px;
}
.primary-btn{
    padding: 21px 24px;
    background-color: black;
    margin-top: 32px;
}
.primary-btn a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.background-title{
    font-size: 48px;
}
.background-image{
    margin: 26px 221px 45px 221px;
}
/*why Web Development style*/ 
.why-webdebelopments{
    width: 1140px;
    height: 1233px;
    margin: 0 auto;
    padding: 97px;
    background-color: rgba(13, 19, 33, 0.02);
}
.why-webdebelopment{
    text-align: center;
    padding: 0 47px;
    margin-bottom: 48px;
}
.image-part{
    width: 946px;
    margin: auto;
}
.part-1{
    display: flex;
    justify-content: space-between;
    padding: 48px;
    margin: 0 auto;
    
}
.part-1-ariea{
    width: 447px;
    height: 140px;
}
.part-1-title{
    font-size: 24px;
    color: rgba(13, 19, 33, 0.7);
}
.part-2{
    display: flex;
    justify-content: space-between;
    padding: 48px;
    margin: 0 auto;
    
}
.part-2-ariea{
    width: 447px;
    height: 140px;
}
.part-2-title{
    font-size: 24px;
    color: rgba(13, 19, 33, 0.7);
}
.part-3{
    display: flex;
    justify-content: space-between;
    padding: 48px;
    margin: 0 auto;
    
}
.part-3-ariea{
    width: 447px;
    height: 140px;
}
.part-3-title{
    font-size: 24px;
    color: rgba(13, 19, 33, 0.7);
}
.web-primary-btn{
    margin-top: 24px;
}

/*inspiration section*/
.inspiration{
    text-align: center;
    height: 775px;
    width: 1140px;
    margin: 0 auto;
}
#youtube-video{
    width: 1140px;
    height: 614px;
    padding: 32px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 10px;
    margin-top: 48px;
}
.inspiration h2{
    margin-bottom: 24px;
}


/* my target section start*/
.target-title{
    text-align: center;
    padding: 24px;
}
.target-description{
    text-align: center;
    margin-bottom: 48px;
}

.my-target{
    display: flex;
    margin-left: 160px;
    gap: 24px;
}
.html{
    padding: 40px;
    height: 299px;
    width: 364px;
    background-color: rgba(255, 76, 30, 0.05);
}
.css{
    padding: 40px;
    height: 299px;
    width: 364px;
    background-color: rgba(0, 76, 232, 0.05);
}
.js{
    padding: 40px;
    height: 299px;
    width: 364px;
    background-color: rgba(255, 223, 0, 0.05);
}
.target{
    margin-bottom: 35px;
}

.btn-setup{
    border: none;
    color: black;
    font-size: 16;
    margin-top: 43px;
}


/*suport section*/


.suport-container{
    height: 313px;
    width: 1140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-image:url(../assets/handshake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.suport-contant-title{
    font-size: 32px;
    color: white;
    text-align: center;
    margin-bottom: 16px;
}
.suport-contant-description{
    font-size: 16px;
    color: white;
    text-align: center;
}
.suport-contant p{
    margin-bottom: 24px;
}
.suport-contant input{
    height: 57px;
    width: 684px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border: none;
    border-radius: 10px;
}
#btn{
    height: 57px;
    width: 120px;
    border-radius: 5px;
}
.suport-contant input[type="text"]{
    padding: 10px;
}


/*footer section*/
.footer{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 1140px;
    margin: 0 auto;
    padding: 32px 150px;
}
.footer-description{
    font-size: 20px;
    color: rgba(13, 19, 33, 1);
    margin-top: 8px;

}

